

body {
    display:flex;
    flex-direction:column;
    background:gray;
    
    font-family:Inter;
}

#mainPage{
    width:128vw;
    margin:auto;
    zoom: 80%;
    display:flex;
    flex-direction:column;

    background:white;

}

#mp{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 1440px;
    margin: auto;

    align-items: center;
}

#headingsMP h2{
    padding-top: 95px;
    color: #000;

    text-align: center;

    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#headingsMP h4{
    padding-top: 10px;
    padding-bottom: 70px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#imgMP{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#logo{
    width:161px;
    height:65px;
    border-style:solid;

    margin-left:43px;
    margin-right:89px;
}

#videoMP{
    display: flex;
    width: 1000px;
    height: 580px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    /* background: linear-gradient(0deg, rgba(217, 217, 217, 0.30) 0%, rgba(217, 217, 217, 0.30) 100%), lightgray 0px 0px / 100% 118.543% no-repeat; */
}

#morep{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-right: 28vw;
    /* background-color:pink; */
    align-items: center;
}

#moreptext{
    background:transparent;
    border:transparent;
    cursor: pointer;
    color: #000;
    font-family: Joan;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 0px;
    
}

#moreptext:hover {
    text-decoration: underline;
}

#moreparrow{
    width: 24px;
    height: 24px;
    margin-right: 38px;
    margin-left: 0px;
}
#moreStabiles:hover{
    cursor: pointer;
}
#moreMobiles:hover{
    cursor: pointer;
}

#morsMP{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}

#moreNameM{
    color: #000;
    font-family: Joan;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
    top: 10%;
    left: 6%;
}

#moreShopNowM{  
    display: flex;  
    color: white;
    font-family: Joan;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
    bottom: 9%;
    right: 57%;
    cursor: pointer;

    align-items: center;
    background-color:#2C5A7C;
    padding:10px;
    border-radius:50px;
}

#moreShopNowM:hover {
    text-decoration: underline;
}

#moreNameS{
    color: #000;
    font-family: Joan;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
    position: absolute;
    top: 10%;
    right: 34%;

    
}

#moreShopNowS{
    display: flex;
    color: white;
    font-family: Joan;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;
    bottom: 9%;
    right: 5%;
    cursor: pointer;

    align-items: center;

    background-color:#2C5A7C;
    padding:10px;
    border-radius:50px;
}

#moreShopNowS:hover {
    text-decoration: underline;
}

#morsMP img{
    display: flex;
    width: 559px;
    height: 594px;
    padding: 29px 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    /* background: lightgray 0px 2.869px / 100% 122.783% no-repeat; */
}

#poppieceMP{
    display: flex;
    flex-direction: row;
}

#poppiecetitle{
    padding-top: 60px;
    color: #000;
    text-align: center;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #000;
    font-family: Joan;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#popimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#popimg:hover{
    cursor:pointer;
}

#popimg img{
    display: flex;
    width: 305px;
    height: 360px;
    flex-shrink: 0;
    flex-direction: row;
    padding: 15px 21px;
    margin-top: 10px;
    /* background: lightgray 0px 1.266px / 100% 112.963% no-repeat; */
}

.popimgtxt{
    align-self: flex-start;
    color: #000;
    font-family: Joan;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 21px;
}

.popimgtxt:hover{
    text-decoration: underline;
    cursor: pointer;
}

#shopallMP{
    display: flex;
    padding-top: 150px;
    /* width: 966px; */
    align-items: center;
    flex-direction: column;

}

#shopallMP h2{
    color: #000;
    text-align: center;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #000;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-bottom: 32px;
}

#SAP{
    width: 265px;
    height: 68px;
    flex-shrink: 0;
    background-color: #BDD0DE;
    border: transparent;

    color: black;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

#SAP:hover {
    /* text-decoration: underline; */
    opacity: 85%;
}

#newsletterMP{
    display: flex;
    /* width: 1261px; */
    height: 413px;
    padding: 77px 235px;
    margin-top: 128px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background: #BDD0DE;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
} 

#newsletterMP h3{
    align-self: stretch;

    color: #000;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#newsletterMP h6{
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#signupN{
    height: 73px;
    display: flex;
    flex-direction: row;
   
}
#signupN1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

#signupbox{
    display: flex;
    align-items: stretch;
    width: 334px;
    height: 73px;
    padding: 22px 26px;
    gap: 10px;

    border: 0.5px solid #000;
    background: #FFF;

    color: #000000;
    text-align: start;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
#signupbutton{
    margin-left: 20px;
    display: flex;
    width: 195px;  
    height: 73px;
    /* padding: 22px 48px; */
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    background: #F96D6D;
    border: transparent;

    overflow:hidden;
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#signupbutton:hover {
    opacity: 80%;
}

#contactMP{
    margin-top: 170px;

    display: flex;
    width: 128vw;
    height: 522px;
    /* padding: 112px 84px 112px 88px; */
    padding-left: 22vw;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-shrink: 0;

    background: #BDD0DE;
}

#contactMP img{
    width: 40vw;
    height: 374px;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;

}

#contact2{
    margin-left: 106px;
    display: flex;
    width: 43vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    /* background:pink; */
}

#contact2 h5{
    color: #242424;
    font-family: JejuMyeongjo;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-self: stretch;
}

#contact2 h6{
    width: 524px;
    color: #1B1B1B;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.22px;
}

#gitC{
    display: flex;
    width: 253px;
    height: 61px;
    padding: 18px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F96D6D;
    border: transparent;

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

#gitC:hover {
    opacity: 80%;
}

.fbutton{
    color: #000;
    font-family: JejuMyeongjo;
    background: transparent;
    border: transparent;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
#warning{
    color: red;
    display: none;
    font-family: Joan;
}