@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#itemPage {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* height: fit-content; */
    background-color: white;
    align-items: center;
}

#itemDesc{
    display: flex;
    flex-direction:row;
    align-self: flex-start;

    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* background:pink; */

    padding-top: 50px;
    margin-bottom: 55px;
    margin-left: 5%;

    gap:10px;
}

#hometext:hover{
    cursor:pointer;
    text-decoration-line: underline;

}

#shoptext:hover{
    cursor:pointer;
    text-decoration-line: underline;

}

#topDiv {
    display: flex;
    flex-direction: row;
    margin-left: 5%;

    /* background:lightyellow; */
}

#info {
    display: flex;
    flex-direction: column;
    width: 40vw;

    padding-left:2vw;
    padding-right:2vw;
    margin-left:5vw;

    /* background:lightblue; */
}

#pName{
    color: #000;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

#sub{
    color: #FF34DA;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

#itemReviews{
    flex-direction: row;
    display: flex;
    gap: 35px;

    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#itemPrice{
    padding-top: 60px;
    padding-bottom: 40px;
}

#cost{
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#paynow{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

#itembr{
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 0.5px;
    margin-bottom: 30px;
}

#descHead{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#descInfo{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 10px;
}

#addcart{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 8px 0px;

    justify-content: center;
    align-items: center;
    border-radius: 5.316px;

    width: 100%;

    margin-top:4vw;

    background: #0E2769;
    border-color: transparent;
}

#addcart:hover {
    opacity: 80%;
    cursor:pointer;
}


#images{
    display: flex;
    flex-direction: column;

    margin-left: 4%;
    margin-right:10vw;
}

#bigImage{
    width: 600px;
    height: 560px;
    flex-shrink: 0;

    background: lightgray 50% / cover no-repeat;

}

#test{
    width: 600px;
    height: 560px;
}

#smallImages{
    display: flex;
    flex-direction: row; 
    /* justify-content: space-between; */
    justify-content:center;
    margin-top: 30px;
}

#smallImages:hover{
    cursor:pointer;
}

#smallImage{
    height: 180px;
    width: 180px;

    margin: 10px 10px;

    background: lightgray 50% / cover no-repeat;
}

#botDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#detailsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    gap: 20%;

    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 630;
    line-height: normal;
    /* text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font; */

    margin-bottom: 20px;
}


#botDiv #detailsDiv a:hover,
#botDiv #detailsDiv a:focus,
#botDiv #detailsDiv a.active {
    text-decoration: underline;
    cursor: pointer;
}



#otherItems{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    /* align-items: center; */

    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 40px;
    margin-top: 80px;
}

#otherItemImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    margin-top: 30px;
}

#otherItems img{
    width: 300px;
    height: 280px;
    flex-shrink: 0;
    /* background: #D9D9D9; */
    gap: 10px;
}

#reviews{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

#revTitle{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#reviewBox{
    display: flex;
    flex-direction: column;

    width: 80vw;
    height: 97px;
    flex-shrink: 0;
    border-radius: 8px;
    /* background-color: #D9D9D9; */

    justify-content: center;
    margin-bottom: 22px;
}

#revContent{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 97%;
}

#revStars{
    /* background-image: url(fi-rr-star.png); */
    color: black;
}

#revHead{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#revDesc{
    color: #000;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#revReact{
    display: flex;
}

/* 
#revLikeIcon{
    
}

#revCommentIcon{

} */

#revComment{
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}


#itemSelects{
    display:flex;
    flex-direction:column;
    background:white;

    color:black;
}

#itemdropdown{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top:20px;
    background:white;

    /* background:lightyellow; */
    /* border:solid; */
}

h2{
    font-family:Raleway;
    font-size:28px;
    font-weight:400;

    /* background-color:blue; */
}

#itemdetail{
    margin-left: 20px;
    /* margin-bottom:20px; */

    font-family:Raleway;
    font-size:28px;
    font-weight:400;

    /* background-color:pink; */
}

.itemselect{
    color:black;
    background:white;
    border-style:solid;
    /* background-color:#D9D9D9; */

    margin-left:20px;
    padding-right:10px;

    height:40px;

    border:none;

    /* width: 150px; */

    font-family:Raleway;
    font-size:28px;
    font-weight:400;
}


#popimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#popimg:hover{
    cursor:pointer;
}

#popimg img{
    display: flex;
    width: 305px;
    height: 360px;
    flex-shrink: 0;
    flex-direction: row;
    padding: 15px 21px;
    margin-top: 10px;
    /* background: lightgray 0px 1.266px / 100% 112.963% no-repeat; */
}

.popimgtxt{
    align-self: flex-start;
    color: #000;
    font-family: Joan;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 21px;
}

.popimgtxt:hover{
    text-decoration: underline;
    cursor: pointer;
}

