
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display:flex;
    flex-direction:column;
    background:gray;
    font-family:Inter;
}

#shopPage{
    width:100vw;
    margin:auto;
    padding-left:10vw;
    padding-right: 10vw;
    
    display:flex;
    flex-direction:column;

    background:white;


}


h1{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top:105px;
    /* margin-left:41px; */
}

#sort_select{
    display:flex;
    flex-direction:row;

    background-color:white;
    border: 1.5px solid #000;
    border-radius: 5px;

    align-self:end;
    width:138px;
    height:40px;

    margin-right:36px;
    margin-bottom:55px;

    text-align:center;

    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 700; 
    line-height: normal;

    cursor: pointer;
    padding: 5px;
} 

#sort_select option{
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
} 

#sort_select option:hover{
    background-color: #f0f0f0;
}

#sort_select:focus {
    outline: none;
}










#shopBody{
    display:flex;
    flex-direction:row;
    /* background:pink; */
}

#filters_body{

    width:458px;
    /* background:purple; */
    /* padding-left:56px; */
    padding-right:5vw;
    /* background:purple; */

    color:black;
    font-size:23.317px;
    font-weight:700;
}


#filters_body_labels{
    display:flex;
    flex-direction:row;

    align-items:center;

    margin-bottom:32.62px;
}

#filter_icon{

    margin-right:9px;
}

#clear_all{
    color:#47739B;
    font-size:19px;
    font-weight:300;
    text-decoration:underline;

    margin-left:auto;
    background-color:white;
    border: none;

    cursor: pointer;
}

#clear_all:hover {
    opacity: 80%;
}

.filter_name{
    color: #000;
    font-size: 23.115px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding-bottom:21.45px;
}

.filter_bucket{
    display:flex;
    flex-direction:column;
}

.filter_checkbox_label{
    display:flex;
    flex-direction:row;

    color:black;
    font-size: 18.385px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-items:center;
    padding-bottom:32.64px;
    /* background-color:pink;
    border:solid; */
}



input[type="checkbox"]{
    appearance:none;
    -webkit-appearance:none;
}
.filter_checkbox{

    width:18.385px;
    height:18.385px;
    margin-right:16px;

    border:solid #374957;
    border-radius:3px;

    cursor: pointer;
}

input[type='checkbox']:checked{
    background-color:#0E2769;
    content: '✔';
    color:white;
}



#item_list{
    display:grid;
    grid-template-columns: auto auto auto;
    /* background-color:lightblue; */
    width:70vw;

    /* height:771px; */
  
    /* gap:68px; */
}


.item{
    display:flex;
    flex-direction:column;
    padding-right:2vw;

    height:361.64px;
    margin-bottom: 68px;
    /* background-color: pink; */
    width:100%;
    /* border: solid; */

}

.item_img_body{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    /* background-color:green; */

    height:235.56px;
    object-fit:cover;
    /* max-height:235.56px; */
}

.item_img{
    max-height: 235.56px;
    /* max-width: 20vw;  */
    width:100%;
    /* background:pink; */
    border:black;

    position:relative;
}

.item_img:hover{
    cursor: pointer;
}

.item_favorite_icon{
    position:absolute;
    right:16.55px;
    bottom:14.56px;
}

.item_details{
    display:flex;
    flex-direction:row;

    padding-top:26px;
    /* background-color:pink; */
}

.item_title{
    color:#000;
    font-size:18.266px;
    font-weight:700;
}

.item_title:hover{
    cursor:pointer;
}

.item_price{
    color:#000;
    font-size:18.266px;
    font-weight:500;

    margin-left:auto;
    /* justify-self:end; */
}

.cart_button{
    display:flex;

    background-color:#0E2769;
    border-radius:5.316px;
    border: none;

    margin-top:26px;

    width:100%;
    height:42px;

    justify-content:center;
    align-items:center;

    color:#FFF;
    font-size:20px;
    font-weight:500px;

    cursor: pointer;
}

.cart_button:hover {
    opacity: 80%;
}


#cart-badge{
    background-color: red;
}



@media screen and (max-width: 415px){
    #item_list{
        grid-template-columns: auto;
    }

};
